
 <div class="slider">
  <div class="slides" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
    <div class="slide" *ngFor="let img of product.images">
      <img [src]="img" alt="image" />
    </div>
  </div>

  <button class="nav prev" (click)="prev()">&#10094;</button>
  <button class="nav next" (click)="next()">&#10095;</button>

  <div class="dots">
    <span
      *ngFor="let img of product.images; let i = index"
      class="dot"
      [class.active]="i === currentIndex"
      (click)="goTo(i)"
    ></span>
  </div>
</div>
  <h2>{{ product.title }}</h2>
  <p>Price: {{ product.price | currency }}</p>