.header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  transition: backdrop-filter 0.3s ease, background 0.3s ease;
  z-index: 1000;

  &.scrolled {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}

.name-shop {
  margin: auto;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;

  &-w {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.search-cart {
  display: flex;
  background: #000000;
  width: 80%;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  border-radius: 0 0 0 20px;
}

.cart {
  display: flex;
  background-color: #000000;
  gap: 10px;
  width: 100px;
  height: 40px;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: auto 10px auto 0;
}

.cart-icon {
  width: 24px;
  height: 24px;
}

.search {
  display: flex;
  width: auto;
  height: 40px;
  align-items: center;
  margin: auto 10px auto 0;
  gap: 10px;
  border-bottom: 1px solid #ffffff;
}

.input-search {
  width: 500px;
  background: #000000;
  color: #ffffff;
  height: 36px;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
}

.button-search {
  width: 36px;
  height: 36px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
