<header class="header" [class.scrolled]="isScrolled">
  <nav class="navigation">
    <button class="nav-button" routerLink="">
      <img src="/assets/icons/earth.svg" style="width: 48px;" alt="">
      <span>ONLINE STORE</span>
    </button>
    <button class="nav-button" routerLink="/login" *ngIf="(userService.user$ | async) === null">Войти</button>
    <button class="nav-button" (click)="logOut()" *ngIf="(userService.user$ | async) != null">Выйти</button>
  </nav>
  <div class="search-cart">
    <button class="nav-button-w" routerLink="/admin" *ngIf="(userService.user$ | async) != null">Admin</button>
    <div class="search">
      <input type="search" class="input-search" placeholder="Поиск товаров" />
      <button class="button-search">
        <img src="/assets/icons/search.svg" alt="" />
      </button>
    </div>
    <button class="cart" routerLink="/cart">
      <span style="color: #ffffff">Корзина</span>
      <img class="cart-icon" src="/assets/icons/cart.svg" alt="" />
    </button>
  </div>
</header>
