.search-box {
  display: flex;
  align-items: center;
  width: 500px;
  height: 30px;
  background: #000000;
}

.search-input {
  width: 100%;
  height: 100%;
  outline: none;
  background: #000000;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.search-button {
  width: 25px;
  height: 25px;
  border: none;
  background: none;
}
