.banner {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    &-text {
        font-size: 24px;
        font-weight: bold;
        color: #333333;
    }
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 15px;
}