<header class="header">
  <nav class="navigation">
    <button class="nav-button" routerLink="">
      <img src="/assets/earth.svg" style="width: 48px;" alt="">
      <span>ONLINE STORE</span>
    </button>
    <button class="nav-button">Профиль</button>
  </nav>
  <div class="search-cart">
    <div class="search">
      <input type="search" class="input-search" placeholder="Поиск товаров" />
      <button class="button-search">
        <img src="/assets/search.svg" alt="" />
      </button>
    </div>
    <button class="cart" routerLink="/cart">
      <span style="color: #ffffff">Корзина</span>
      <img class="cart-icon" src="/assets/cart.svg" alt="" />
    </button>
  </div>
</header>
