.footer {
    display: flex;
    width: 100%;
    height: 240px;
    background-color: #000000;
}

.navigation {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
}

.name-shop {
    margin: auto;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
}

.search-cart {
    display: flex;
    position: relative;
    background: #ffffff;
    width: 80%;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    border-radius: 20px 0 0 0;
}

.cart {
    display: flex;
    background-color: #ffffff;
    gap: 10px;
    width: 100px;
    height: 40px;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: auto 10px auto 0;
}

.search {
    display: flex;
    width: auto;
    height: 40px;
    align-items: center;
    margin: auto 10px auto 0;
    gap: 10px;
    border-bottom: 1px solid #000000;
}

.input-search {
    width: 500px;
    background: #ffffff;
    color: #000000;
    height: 36px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
}

.button-search {
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.scr {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #000000;
}